<% content_for(:page_title) { t('misc.my_services') } %>
<% content_for(:page_controls) { link_to t('actions.new'), new_service_path, class: 'btn btn-primary' } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'list_services', locals: {collection: @collection} %>

  </div>
</div>
