<%
  if current_user.services.count > 0
    content_for(:page_back) {
      new_service_path
    }
  end

  content_for(:page_title) {
    if params[:service_type].present?
      t("actions.new_#{params[:service_type]}")
    else
      t('.title')
    end
  }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'form' %>

  </div>
</div>
