
<form class="ui large basic form" method="post" action="/dashboard/services">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <div class="required field">
    <label>Nom du service</label>
    <div class="ui left icon input">
      <i class="cube icon"></i>
      <input type="text" name="service_name" value="<%= query.service.name %>" placeholder="Nom du service">
    </div>
  </div>
  <div class="required field">
    <label>Description</label>
    <textarea rows="5" name="service_description"><%= query.service.description %></textarea>
  </div>
  <div class="field">
    <label>Site Internet</label>
    <div class="ui left icon input">
      <i class="world icon"></i>
      <input type="text" name="service_website" value="<%= query.service.website %>" placeholder="Site Internet">
    </div>
  </div>
  <div class="field">
    <label>Visibilité</label>
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" class="hidden" <% if (query.service.public === true) { %>checked="checked"<% } %>>
      <label>Référencer le service sur l'API du CPA Store</label>
    </div>
  </div>

  <div class="ui error message"></div>
  <div class="ui submit button" tabindex="0">Ajouter le service</div>

</form>
