<div class="ui container">
  <div class="ui twice attached segment">
    <h1 class="ui header">
      <i class="cubes bordered icon"></i>
      <div class="content">
        Mes services
        <div class="sub header">Administrez les services associés à votre compte développeur</div>
      </div>
    </h1>
  </div>
  <div class="ui bottom attached pointing menu">
    <a class="active item" href="/dashboard/services/">
      Mes services
    </a>
    <a class="item" href="/dashboard/services/new">
      Ajouter un service
    </a>
  </div>
  <% if (services.length > 0) { %>
  <table class="ui <% if (services.length > 1) { %>sortable<% } %> celled table">
    <thead>
    <tr>
      <th></th>
      <th>Nom &amp; description</th>
      <th class="three wide">État</th>
      <th class="three wide"></th>
    </tr>
    </thead>
    <tbody>
    <% services.forEach(function(service) { %>
    <tr class="top aligned">
      <td><img src="<%= service.getThumbnail('-100x100bg.png') %>" width="70" height="70" class=""></td>
      <td>
        <h3 class="ui header"><%= service.name %></h3>
        <%= service.description %>
      </td>
      <td>
        <% if (!service.validated) { %>
        <div class="ui red horizontal fluid label"></div> En attente de validation
        <% } else if (service.public) { %>
        <div class="ui green horizontal fluid label"></div> Référencé sur l'API
        <% } else { %>
        <div class="ui grey horizontal fluid label"></div> Privé
        <% } %>
      </td>
      <td>
        <a href="/dashboard/services/<%= service.nameNormalized %>" class="ui right labeled icon button">
          <i class="chevron circle right icon"></i>
          Administrer le service
        </a>
      </td>
    </tr>
    <% }); %>
    </tbody>
  </table>
  <% } %>
</div>
