<div class="ui container">
  <div class="ui twice attached segment">
    <h1 class="ui header">
      <i class="add bordered icon"></i>
      <div class="content">
        Ajouter un service
        <div class="sub header">Mode : Développement</div>
      </div>
    </h1>
  </div>
  <div class="ui bottom attached pointing menu">
    <a class="item" href="/dashboard/services/">
      Mes services
    </a>
    <a class="active item" href="/dashboard/services/new">
      Ajouter un service
    </a>
  </div>
  <div class="ui segment">
    <% include ./_form %>
  </div>
</div>
