<div class="ui container">
  <h1><%= data.service.name %></h1>
  <div class="ui pointing menu">
    <a class="active item" href="/dashboard/services/<%= data.service.nameNormalized %>">
      Statistiques
    </a>
    <a class="item" href="/dashboard/services/<%= data.service.nameNormalized %>/edit">
      Éditer
    </a>
    <a class="item">
      Tokens
    </a>
    <a class="item">
      Données partagées
    </a>
  </div>

  <h2>Statistiques</h2>
</div>
