<div class="ui container">
  <% include ./header %>

  <div class="ui segment">
    <div class="ui statistic">
      <div class="value">
        <%= tokensCount %>
      </div>
      <div class="label">
        Jetons
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <%= data.service.users.length %>
      </div>
      <div class="label">
        Développeurs
      </div>
    </div>
  </div>
</div>
