<div class="ui container">
  <% include ./_header %>

  <div class="ui segment">
    <% if (!data.service.validated) { %>
    <div class="ui red statistic">
      <div class="value">
        <i class="wait icon"></i>
      </div>
      <div class="label">
        En attente de validation
      </div>
    </div>
    <% } else if (data.service.public) { %>
    <div class="ui green statistic">
      <div class="value">
        <i class="cloud icon"></i>
      </div>
      <div class="label">
        Référencé sur l'API
      </div>
    </div>
    <% } else { %>
    <div class="ui statistic">
      <div class="value">
        <i class="lock icon"></i>
      </div>
      <div class="label">
        Privé
      </div>
    </div>
    <% } %>
    <div class="ui statistic">
      <div class="value">
        <%= tokensCount %>
      </div>
      <div class="label">
        Jeton(s)
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <%= data.service.users.length %>
      </div>
      <div class="label">
        Développeur(s)
      </div>
    </div>
  </div>
  <div class="ui top attached tabular menu">
    <div class="active item">Usage 7 derniers jours</div>
  </div>
  <div class="ui bottom attached active tab segment">
    <canvas id="myChart" width="400" height="150"></canvas>
  </div>
  <% include ../../../partials/api_uri_list %>
</div>

<script>
  $(document).ready(function() {
    var ctx = document.getElementById("myChart");
    var data = {
      labels: ["22/11", "23/11", "24/11", "25/11", "26/11", "27/11", "Aujourd'hui"],
      datasets: [
        {
          label: "",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [2200, 2300, 2650, 2620, 2354, 2580, 2250],
          spanGaps: false,
        }
      ]
    };
    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
  });
</script>