<h1>Veuillez confirmer votre adresse E-Mail</h1>
<p>Bonjour <%= firstname %> <%= lastname %>,</p>
<p>Pour finaliser votre inscription en tant développeur sur l'API du CPA Store, merci de cliquer sur le lien suivant :</p>
<p><a href="<%= link %>" target="_blank">Confirmer mon adresse E-Mail</a></p>
<p>Ou copiez-collez le lien suivant dans votre navigateur :</p>
<p><%= link %></p>
<p>Cordialement,<br />L'équipe API.</p>