<h1><%= I18n.t("mailer.ticket_notifier.send_ticket_notification.subject", status: @status_name, action: @action_name, billet_name: @ticket.subject) %></h1>

<p>
  <a href="<%= ticket_url(@ticket, locale: @user_locale) %>">Voir le billet</a>
</p>
