<h1><%= I18n.t("mailer.contract_notifier.send_activate_contract_notification.#{@contract.activate}.subject", name: @contract_name) %></h1>

<p>
  <a href="<%= contract_url(@contract, locale: @user_locale) %>">Go to contract</a>
</p>
