<div class="ui large top fixed inverted hidden menu">
  <div class="ui container">
    <a class="active item" href="/">Accueil</a>
    <a class="item">Documentation</a>
    <a class="item">L'équipe</a>
    <div class="right menu">
      <div class="item">
        <a class="ui inverted button" href="/login">Connexion</a>
        <a class="ui inverted button" href="/subscribe">Inscription</a>
      </div>
    </div>
  </div>
</div>
