
<a class="item <% if (page === 'pages/index') { %>active<% } %>" href="/">Accueil</a>
<a class="item <% if (page === 'pages/doc') { %>active<% } %>" href="/doc">Documentation</a>
<a class="item">L'équipe</a>
<div class="right menu">
  <div class="item">
    <% if (data.user == null) { %>
    <a class="ui inverted button <% if (page === 'pages/users/login') { %>primary<% } %>" href="/login">Connexion</a>
    <a class="ui inverted button <% if (page === 'pages/users/new') { %>primary<% } %>" href="/subscribe">Inscription</a>
    <% } else { %>
    <a class="ui inverted button" href="/dashboard">Tableau de bord</a>
    <% } %>
  </div>
</div>
