<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="seven wide column">
        <h4 class="ui inverted header">L'API du CPA Store</h4>
        <p>Réalisée avec passion à l'école 42</p>
      </div>
    </div>
  </div>
</div>
