<% content_for(:page_back) { back_office_tickets_path } %>
<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'list_tickets', locals: {collection: @collection} %>

  </div>
</div>
