<div class="ui container">
  <% include ../routes/_header %>

  <div class="ui grid">
    <div class="four wide column">
      <% include ./_sidebar %>
    </div>
    <div class="twelve wide column">

      <div class="ui top attached segment">
        <% include ./_header %>
      </div>
      <div class="ui bottom attached segment">
        <% include ./_form %>
      </div>
    </div>
  </div>
</div>
