<div class="ui container">
  <% include ../services/header %>
  <% include ../routes/_header %>

  <div class="ui grid">
    <div class="four wide column">
      <% include ./_sidebar %>
    </div>
    <div class="twelve wide column">
      <% include ./_header %>

      <div class="ui segment">
        <% include ./_form %>
      </div>
    </div>
  </div>
</div>
