<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/versions',
               locals: {
                 objects: [
                   @proxy,
                   @proxy.prices.to_a,
                   @proxy.routes.to_a,
                   @proxy.routes.map {|r| r.query_parameters},
                   @proxy.proxy_parameter,
                   @proxy.proxy_parameter_test,
                   @proxy.proxy_parameter.identifier,
                   @proxy.proxy_parameter_test.identifier
                 ].flatten
               } %>

  </div>
</div>