<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/button_destroy', locals: {object: @proxy, object_path: [current_service, @proxy]} %>

  </div>
</div>