<% content_for(:page_title) { t('misc.overview') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'proxies/show_proxy_info', locals: {proxy: @proxy} %>

    <hr>
    <div class="text-right">
      <%= link_to t('actions.destroy'), service_proxy_path(current_service, @proxy), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-secondary btn-danger' %>
    </div>

  </div>
</div>
