<%
  content_for(:page_title) { t('misc.overview') }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'proxies/show_proxy_info', locals: {proxy: @proxy, show_routes: false} %>

  </div>
</div>

<% if @proxy.routes.size > 0 %>
  <div class="b-io-content--header">
    <div class="container-fluid">
      <div class="b-io-content--header--controls"></div>
      <h4><%= t('activerecord.models.route').pluralize %></h4>
    </div>
  </div>
  <div class="b-io-content--secondary">
    <div class="container-fluid">
      <%= render partial: 'routes/list', locals: {routes: @proxy.routes}%>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/measurement',
           locals: {
             show_detail: true,
             input: @measures_input.by_proxy(current_proxy).last_month
           } %>