
.jumbotron

  &.catalog
    background-color: lighten($dark-bg-color, 8%)
    color: #FFF
    margin-bottom: 20px
    padding-top: 2rem
    padding-bottom: 1.8rem

  &.product
    background-color: lighten($dark-bg-color, 70%)
    padding: 1rem 2rem
    margin-bottom: 20px

    h3
      text-align: left

.container

  &.catalog

    .nav

      .nav-item
        .nav-link
          padding-left: 0

          &.active
            color: #000
            cursor: default

    .row
      &.cards
        margin-left: -($spacer-x - ($spacer-x / 1.5))
        margin-right: -($spacer-x - ($spacer-x / 1.5))

    .card
      margin-left: -($spacer-x / 1.5)
      margin-right: -($spacer-x / 1.5)

      .card-block
        padding-left: 0
        padding-right: 0

        .card-block-description
          position: relative
          height: 100px
          max-height: 100px
          overflow: hidden
          margin-bottom: 10px

          .card-block-description-shadow
            position: absolute
            top: -15px
            left: -15px
            right: -15px
            bottom: 0
            width: auto
            height: auto
            box-shadow: 0 -15px 15px #FFFFFF inset

    &.product

      .description
        margin-bottom: 50px

      .row
        &.title
          .col-10
            padding-left: 0

      h1
        font-size: 30px

        img
          vertical-align: middle