<%= simple_form_for Tester::Requests::Standard.new,
                    method: :get,
                    url: new_service_proxy_tester_request_path(current_service, current_proxy),
                    remote: !!request.xhr? do |f| %>

  <%= f.input :route_id,
              collection: format_routes_for_select(@routes),
              input_html: {
                class: 'select2'
              },
              include_blank: false %>

  <div class="row">
    <div class="actions col-md-9 offset-md-3">
      <%= f.button :submit, value: I18n.t('actions.select'), data: { disable_with: t('actions.select') } %>
    </div>
  </div>

<% end %>