<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'edit' %>

  </div>
</div>

<% content_for(:extra_js) do %>
  <script type="text/javascript">
    window.activate_select2();
    window.activate_ace_editor();
  </script>
<% end %>