<%
  content_for(:page_title) { t('tester.title') }
  content_for(:page_description, t('tester.description'))

  content_for(:page_controls) {
    link_to "<i class=\"fa fa-fw fa-plus-circle\"></i> #{t('actions.new_tester_request')}".html_safe, new_service_proxy_tester_request_path(current_service, current_proxy),
            class: 'btn btn-primary',
            remote: request.xhr?
  }

%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'index',
               locals: {
                 collection: @collection,
                 is_template: false
               } %>

  </div>
</div>

<div class="b-io-content--header">
  <div class="container-fluid">
    <div class="b-io-content--header--controls"></div>
    <h4><%= t('tester.templates') %></h4>
  </div>
</div>
<div class="b-io-content--secondary">
  <div class="container-fluid">
    <%= render partial: 'index',
               locals: {
                 collection: @request_templates,
                 is_template: true
               } %>
  </div>
</div>