<% content_for(:page_title) { t('tester.requests.new.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'select_route' %>

  </div>
</div>

<% content_for(:extra_js) do %>
  <script type="text/javascript">
    window.activate_select2();
  </script>
<% end %>