<%
  content_for(:page_title) { current_request.template_name }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%=  render partial: 'tester/requests/template' %>

  </div>
</div>

<% content_for(:extra_js) do %>
  <script type="text/javascript">
    window.activate_ace_viewer();
  </script>
<% end %>