<div class="ui container">
  <% include ./header %>

  <div class="ui segment">
    <button class="ui button" id="password_reset_btn">
      <i class="unlock alternate icon"></i>
      Changer de mot de passe
    </button>
    <h4>La procédure de changement de mot de passe est la suivante :</h4>
    1. Cliquez sur "Changer de mot de passe"<br />
    2. Un courriel automatique contenant un lien sécurisé est envoyé sur votre adresse E-Mail<br />
    3. Cliquez sur le lien ou copiez-coller l'adresse dans votre navigateur<br />
    4. Choisissez votre nouveau mot de passe
  </div>
</div>

<form id="password_reset_form" method="post" action="/actions/password_reset">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script>
  $(document).ready(function() {
    $('#password_reset_btn').on('click', function(e) {
      document.getElementById('password_reset_form').submit();
    });
  });
</script>
