<div class="main ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large basic form" method="post" action="<%= postUrl %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="ui segment left aligned">
        <h2 class="ui teal image header">
          <div class="content">
            Réinitialisation de votre mot de passe
          </div>
        </h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="user_password" placeholder="Nouveau mot de passe">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Enregistrer le mot de passe</div>
        <div class="ui two item menu">
          <a class="item" href="/dashboard/account">Annuler</a>
        </div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
