<% content_for(:page_title) { t('misc.back_office') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <h4><%= t('misc.deactivated_services') %></h4>

    <%= render partial: 'back_office/services/list', locals: {collection: @deactivated_services} %>

  </div>
</div>