<% content_for(:page_back) { back_office_categories_path } %>
<% content_for(:page_title) { @category.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_back_office_category_path(@category) %>"><%= t('actions.edit') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><%= t('misc.audit') %></a>
      </li>
    </ul>

  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/versions', locals: {objects: [@category]} %>

  </div>
</div>