<%
  content_for(:page_title) {
    t('misc.history')
  }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/versions', locals: {objects: [@contract] + @contract.comments.to_a} %>

  </div>
</div>