<% content_for(:page_title) { current_contract.banking_detail.name } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'banking_details/show_banking_detail_info', locals: {banking_detail: current_contract.banking_detail} %>

    <hr>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <%= link_to t('actions.edit'), (@service.nil? ? edit_contract_banking_detail_path(current_contract, current_contract.banking_detail) : edit_service_contract_banking_detail_path(current_service, current_contract, current_contract.banking_detail)), class: 'btn btn-secondary' %>
        <%= link_to t('actions.destroy'), (@service.nil? ? contract_banking_detail_path(current_contract, current_contract.banking_detail) : service_contract_banking_detail_path(current_service, current_contract, current_contract.banking_detail)), method: :delete, class: 'btn btn-danger' %>
        <%= link_to t('actions.select_new_template'), (@service.nil? ? banking_details_selection_contract_path(current_contract) : banking_details_selection_service_contract_path(current_contract)), class: 'btn btn-primary' %>
      </div>
    </div>

  </div>
</div>

