<% content_for(:page_title) { t('types.service_types.client.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'bank_details' , locals: {entreprise_owner: @contract.client} %>

    <%= link_to t('actions.select_new_template'), (@service.nil? ? client_bank_details_selection_contract_path(current_contract, entreprise_owner_id: @contract.client) : client_bank_details_selection_service_contract_path(current_contract, entreprise_owner_id: @contract.client)), class: 'btn btn-primary' %>

  </div>
</div>
