<% content_for(:page_title) { t('error_measurements.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/error_measurements', locals: {collection: @contract.error_measurements} %>

  </div>
</div>
