<% content_for(:page_back) { (current_service.nil? ? contract_path(@contract) : service_contract_path(current_service, @contract)) } %>
<% content_for(:page_title) { @general_condition.title } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <div class="trix-content">
      <%= @general_condition.body.html_safe %>
    </div>
  </div>
</div>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <% status, errors = @contract.can?(current_user, :validate_general_condition) %>
    <% if status %>
      <div class="text-right">
        <%= button_to t('actions.accept_general_conditions'), (current_service.nil? ? validate_general_condition_contract_path(@contract) : validate_general_condition_service_contract_path(current_service, @contract)), class: 'btn btn-primary btn-lg', method: :post, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
    <%= show_contract_errors(errors) %>

    <% if !@contract.general_condition_validated_client_user_id.nil? %>
      <%= t('misc.accepted_by', user: @contract.general_condition_validated_client_user.full_name, date: l(@contract.validation_date, format: :long)) %>
    <% end %>

  </div>
</div>