<% content_for(:page_title) { t('.title') } %>
<% if !current_company.nil? %>
  <% content_for(:page_controls) { link_to t('actions.new'), new_company_contract_path(current_company), class: 'btn btn-primary' } %>
<% elsif !current_service.nil? %>
  <% content_for(:page_controls) { link_to t('actions.new'), new_service_contract_path(current_service), class: 'btn btn-primary' } %>
<% else %>
    <% content_for(:page_controls) { link_to t('actions.new'), new_contract_path, class: 'btn btn-primary' } %>
<% end %>
<div class="b-io-content--secondary">
  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |contract| %>
        <tr>
          <td><%= contract.name %></td>
          <% if !current_company.nil? %>
            <td class="text-right">
              <%= link_to t('misc.dashboard'), company_contract_path(current_company, contract), class: 'btn btn-secondary' %>
            </td>
          <% elsif !current_service.nil? %>
            <td class="text-right">
              <%= link_to t('misc.dashboard'), service_contract_path(current_service, contract), class: 'btn btn-secondary' %>
            </td>
          <% else %>
              <td class="text-right">
                <%= link_to t('misc.dashboard'), contract_path(contract), class: 'btn btn-secondary' %>
              </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
