<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <div class="list-group">
      <% @collection.each do |page| %>
        <a href="<%= documentation_path(page.id) %>" class="list-group-item">
          <%= page.send("dictionary_#{I18n.locale}").title %>
        </a>
      <% end %>
    </div>

  </div>
</div>
