<% content_for(:page_back) { @documentation.parent.nil? ? documentations_path : documentation_path(@documentation.parent) } %>
<% content_for(:page_title, @documentation.send("dictionary_#{I18n.locale}").title ) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <div class="documentation_body">
      <%= @documentation.send("dictionary_#{I18n.locale}").body.html_safe %>
    </div>

  </div>
</div>
