<% content_for(:page_back) { @documentation.parent.nil? ? documentations_path : documentation_path(@documentation.parent) } %>
<% content_for(:page_title, @documentation.title ) %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <small>
          <%= render partial: 'subtree', locals: {collection: Documentation.roots.published} %>
        </small>
      </div>
      <div class="col-sm-8">
        <div class="documentation_body">
          <h2><%= @documentation.title %></h2>
          <div class="trix-content">
            <%= @documentation.body.html_safe %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
