<div class="ui container">
  <% include ../services/header %>
  <% include ./header %>

  <div class="ui segment">
    <% include ./form %>
  </div>

  <div class="ui segment">
    <button class="ui button" id="remove_database_modal_btn">
      <i class="trash icon"></i>
      Détruire la collection
    </button>
  </div>
</div>

<div class="ui basic modal" id="remove_database_modal">
  <div class="ui inverted icon header">
    <i class="trash icon"></i>
    <div class="content">
      Détruire la collection et toutes ses données
      <div class="sub header">
        Êtes-vous certain de vouloir détruire cette collection et l'ensemble de ses données ?
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui center aligned basic segment">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        Annuler
      </div>
      <div class="ui ok green basic inverted button" id="remove_database_btn">
        <i class="checkmark icon"></i>
        Confirmer
      </div>
    </div>
  </div>
</div>

<form id="remove_database_form" method="post" action="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= data.route.nameNormalized %>/remove">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>

<script>
  $(document).ready(function() {
    $('#remove_database_btn').on('click', function(e) {
      document.getElementById('remove_database_form').submit();
    });
    $('#remove_database_modal_btn').on('click', function(e) {
      $('#remove_database_modal').modal('show');
    });
  });
</script>