<div class="ui container">
  <% include ../services/_header %>
  <% include ./_header %>

  <% if (routes.length > 0) { %>
  <table class="ui <% if (routes.length > 1) { %>sortable<% } %> celled table">
    <thead>
    <tr>
      <th class="one wide"></th>
      <th>Nom &amp; description</th>
      <th class="three wide">FranceConnect</th>
      <th class="three wide">Partage</th>
      <th class="four wide no-sort"></th>
    </tr>
    </thead>
    <tbody>
    <% routes.forEach(function(route) { %>
    <tr class="top aligned">
      <td>
        <i class="database large bordered icon"></i>
      </td>
      <td>
        <h3 class="ui header"><%= route.name %></h3>
        <%= route.description %>
      </td>
      <td>
        <% if (route.fcRequired === true) { %>
        <div class="ui green horizontal fluid label"></div> Activé
        <% } else { %>
        <div class="ui red horizontal fluid label"></div> Désactivé
        <% } %>
      </td>
      <td>
        <% if (route.public === true) { %>
        <div class="ui green horizontal fluid label"></div> Activé
        <% } else { %>
        <div class="ui red horizontal fluid label"></div> Désactivé
        <% } %>
      </td>
      <td>
        <a class="ui right labeled icon button" href="/dashboard/services/<%= data.service.nameNormalized %>/routes/<%= route.nameNormalized %>">
          <i class="chevron circle right icon"></i>
          Administrer la base de donnée
        </a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <% include ../../../partials/api_uri_list %>
  <% } else { %>
  <div class="ui segment">
    Vous n'avez créé aucune donnée partagée
  </div>
  <% } %>
</div>
