<div class="ui container">
  <% include ../services/_header %>

  <div class="ui top attached segment">
    <% include ./_header %>
  </div>
  <div class="ui bottom attached segment">
    <% include ./_form %>
  </div>
</div>
