<div class="ui container">
  <% include ../services/header %>
  <% include ./header %>

  <div class="ui segment">
    <div class="ui statistic">
      <div class="value">
        <%= dataCount %>
      </div>
      <div class="label">
        Donnée(s)
      </div>
    </div>
  </div>
</div>
