<% content_for(:page_title) { t('misc.tester') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <h4><%= t('misc.tester') %></h4>
    <%= link_to t('actions.new'), select_client_tester_tester_infos_path, class: "list-group-item list-group-item-action" %>
  </div>
</div>