
<pre><%= current_request.body %></pre>

<%= link_to edit_back_office_module_tester_path(current_request),
            remote: request.xhr?,
            class: 'btn btn-sm btn-secondary' do %>
  <%= t('actions.edit') %>
<% end %>

<% if @result.present? %>

  <div>
    <pre class="ace-viewer"
         id="tester-request-ace-viewer"
         data-format="json"><%= JSON.pretty_generate(@result) %></pre>
  </div>

<% end %>