<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Activated</th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <% if user.has_role?(:superadmin) %>
            <td>true</td>
        <% else %>
            <td>false</td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
