<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Admin</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <% if user.has_role?(:superadmin) %>
            <td>true</td>
        <% else %>
            <td>false</td>
        <% end %>
        <td><%= link_to t('actions.user.show'), user_path(user.id), class: 'btn btn-secondary' %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
