<%
  content_for(:page_back) {
    if current_service
      service_users_path(current_service)
    else
      users_path
    end
  }

  content_for(:page_title) {
    t('.title')
  }
%>

<div class="b-io-content--secondary">
  <div class="container">

    <%= render partial: 'form', locals: {object: (current_service.nil? ? @user : [current_service, @user])} %>

  </div>
</div>