<% content_for(:page_title) { @user.email } %>

<div class="b-io-content--secondary">
  <div class="container">

    <h5><%= @user.email %></h5>

    <% if @user.has_role?(:superadmin) %>
        <h6>Admin user</h6>
    <% end %>

  </div>
</div>