<h1><%= I18n.t("mailer.proxy_notifier.send_activate_proxy_notification.#{@proxy.is_activate ? "activate" : "disable" }.subject", name: @proxy_name) %></h1>

<p>
  <a href="<%= proxy_url(@proxy, locale: @user_locale) %>">Voir le produit</a>
</p>
