<% content_for(:page_title, t('.title')) %>

<div class="b-io-content--secondary">
  <div class="container">

    Bienvenue sur la tableau de bord du service <strong><%= current_service.name %></strong>.

  </div>
</div>
