<h1 class="ui center aligned header">
  <div class="content">
    Documentation de l'API du CPA Store
  </div>
</h1>

<div class="ui large info message">
  <div class="ui relaxed divided list">
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/index') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc">Introduction</a>
        <div class="description">Plate-forme</div>
      </div>
    </div>
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/dashboard/premiers-pas-sur-le-tableau-de-bord') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc/dashboard/premiers-pas-sur-le-tableau-de-bord">Premiers pas sur le Tableau de bord</a>
        <div class="description">Tableau de bord</div>
      </div>
    </div>
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/api/premiers-pas-sur-lapi') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc/api/premiers-pas-sur-lapi">Premiers pas sur l'API</a>
        <div class="description">API</div>
      </div>
    </div>
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/api/filtrer-les-resultats') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc/api/filtrer-les-resultats">Filtrer les résultats</a>
        <div class="description">API</div>
      </div>
    </div>
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/api/paginer-les-resultats') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc/api/paginer-les-resultats">Paginer les résultats</a>
        <div class="description">API</div>
      </div>
    </div>
    <div class="item">
      <i class="large file text <% if (page !== 'pages/documentation/api/inclure-des-ressources-liees-dans-les-resultats') { %>outline<% } %> middle aligned icon"></i>
      <div class="content">
        <a class="header" href="/doc/api/inclure-des-ressources-liees-dans-les-resultats">Inclure des ressources liées dans les résultats</a>
        <div class="description">API</div>
      </div>
    </div>
  </div>
</div>
