<div class="ui container">

  <h1 class="ui center aligned header">
    <div class="content">
      Documentation de l'API du CPA Store
    </div>
  </h1>

  <a href="/doc">Retourner sur la page d'accueil de la documentation</a>

  <div class="ui segment">
    <%- pageContent %>
  </div>

</div>

<%- contentFor('masthead') %>
