<div class="ui container">

  <% include ./_header %>

  <div class="ui black raised segment">
    <h1>Introduction</h1>
    <p>Bienvenue sur la documentation de la Plate-forme !</p>
    <div class="ui yellow message">Info : La liste des routes de l'API a été déplacée dans la section <a href="/doc/api/premiers-pas-sur-lapi">Premiers pas sur l'API</a></div>
  </div>

</div>

<%- contentFor('masthead') %>
