<div class="ui container">

  <% include ./_header %>

  <div class="ui black raised segment">
    <h1>Introduction</h1>
    <p>Bienvenue sur la documentation de la Plate-forme !</p>
    <div class="ui yellow message">Info : La liste des routes de l'API a été déplacée dans la section "Premiers pas sur l'API"</div>
  </div>

</div>

<%- contentFor('masthead') %>
