<% content_for(:page_title) { current_bank_detail.name } %>
<% content_for(:page_back) { service_bank_details_path(current_service)} %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'show_bank_detail_info', locals: {bank_detail: current_bank_detail} %>

    <hr />
    <% unless current_bank_detail.is_active %>
      <%= link_to t('actions.edit'), edit_service_bank_detail_path(current_service, current_bank_detail.id), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to t('actions.destroy'), service_bank_detail_path(current_service, current_bank_detail.id), method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
