<div class="b-io-modal">
  <div class="b-io-modal-background">
  </div>
  <div class="b-io-modal-message">
    <div class="popover">
      <h3 class="popover-title text-center">
        <a href="#" class="pull-right">X</a>
        <%= title %>
      </h3>

      <div class="popover-content text-center">
        <%= yield %>
      </div>
    </div>
  </div>
</div>