<% flash.delete(:timedout).each do |name, msg| %>
  <%
    alert_class = if name == 'alert' || name == 'error'
                    'danger'
                  elsif name == 'notice'
                    'info'
                  else
                    name
                  end
  %>
  <div id="flash_message">
    <div class="alert alert-<%= alert_class %>">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="alert-heading"><%= raw(msg) %></h5>
    </div>
  </div>
<% end %>
