<% content_for(:page_back) { back_office_users_path } %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">

    <%= render partial: 'form' %>
  </div>
</div>
