<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'comments/form', locals: {object: @new_comment} %>

    <%= render partial: 'comments/list', locals: {comments: current_bill.comments} %>

  </div>
</div>
