<% content_for(:page_title) { t('config.platform_name') } %>

<section class="jumbotron text-center bg-inverse">
  <div class="container-fluid">
    <p class="img-p"><img src="/dashboard/baasile-io-homepage.png" class="img-fluid"></p>
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead text-muted"><%= t('.subtitle') %></p>
    <p>
      <%= link_to "<i class=\"fa fa-fw fa-book\"></i> #{t('.buttons.goto_startup_book')}".html_safe, service_book_url, class: 'btn btn-link btn-lg' %>
      <%= link_to "<i class=\"fa fa-fw fa-dashboard\"></i> #{t('.buttons.goto_dashboard')}".html_safe, current_user.nil? ? new_user_session_path : services_path, class: 'btn btn-link btn-lg' %>
    </p>
  </div>
</section>

<div class="container marketing">

  <div class="row">

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
      </span>

      <h2>Déployez</h2>
      <p>
        Le déploiement d'une plateforme Baasile IO est facilité de part sa conception.
        Nous recommandons le choix de Heroku en tant qu'infrastructure, mais il est tout à fait possible de déployer sur ses propres serveurs.
      </p>
    </div>

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
      </span>

      <h2>Connectez</h2>
      <p>
        Paramétrez vos connecteurs d'API via le Tableau de bord et commencez à utiliser les fonctionnalités d'interconnexion.
        Nous proposons actuellement le mode de connexion OAuth 2.0 client credentials grant, mais d'autres sont à venir.
      </p>
    </div>

    <div class="col-lg-4">
      <span class="fa-stack fa-lg fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
      </span>

      <h2>Économisez</h2>
      <p>
        Ne perdez plus de temps à établir des connexions spécifiques entre vos services et vos clients.
        Redéployez les ressources ainsi économisées à la valorisation des données.
      </p>
    </div>

  </div>

</div>

