<% content_for(:page_controls) {
  link_to t('actions.new'), new_back_office_documentation_path, class: 'btn btn-primary'
} %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <table class="table table-sm table-hover table-condensed">
      <thead>
      <tr>
        <th>
          <%= t('activerecord.attributes.documentation.title') %>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |doc| %>
        <tr>
          <td>
            <%= doc.title %>
          </td>
          <td class="text-right">
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_back_office_documentation_path(doc), class: 'btn btn-secondary btn-sm', title: t('actions.edit'), data: {toggle: 'tooltip', placement: 'top'} %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, back_office_documentation_path(doc), title: t('actions.destroy'), data: {confirm: 'Are you sure?', toggle: 'tooltip', placement: 'top'}, method: :delete, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
