<% content_for(:page_back) { back_office_documentations_path } %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'form', locals: {object: [:back_office, @documentation]} %>

  </div>
</div>
