<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <%= link_to t('actions.return'), admin_list_company_path(@company.id), class: 'btn btn-secondary' %>
    <table class="table">
      <thead>
      <tr>
        <th>email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td>
              <%= link_to t('actions.set_admin'), set_admin_company_path(company_id: @company.id, user_id: user.id), method: :post, class: 'btn btn-secondary' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
</div>