<% content_for(:page_title) { t('.title') } %>
<% content_for(:page_controls) { link_to t('actions.new'), new_company_path, class: 'btn btn-primary' if current_user.is_admin? } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Startups</th>
        <th>Clients</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.services.where(service_type: :startup).count.to_s + " startup(s)" %></td>
          <td><%= company.services.where(service_type: :client).count.to_s + " client(s)" %></td>
          <td class="text-right">
            <%= link_to t('misc.dashboard'), company_path(company.id), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
