<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.services.count.to_s + " service(s)" %></td>
          <td class="text-xs-right">
            <%= link_to t('misc.dashboard'), company_path(company.id), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if current_user.is_superadmin %>
      <%= link_to t('actions.new'), new_company_path, class: 'btn btn-primary' %><br />
    <% end %>
  </div>
</div>
