<% content_for(:page_title) { @company.name } %>

<div class="b-io-content--secondary">
  <div class="container">

    <h5><%= @company.name %></h5>

    <%= link_to t('actions.edit'), edit_company_path, class: 'btn btn-secondary' %>

    <%= button_to t('actions.destroy'), company_path, class: 'btn btn-danger', method: :delete %>

  </div>
</div>
