<% content_for(:page_controls) { link_to t('actions.new'), new_back_office_service_path, class: 'btn btn-primary' } %>
<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/search' %>

    <%= render partial: 'list', locals: {collection: @collection} %>

  </div>
</div>
