<div class="main ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui red massive message">
      <h2 class="ui center aligned icon header">
        <i class="circular red inverted bug icon"></i>
        404 / Page Not Found
      </h2>
    </div>
  </div>
</div>
