<div class="main ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui red massive message">
      <h2 class="ui center aligned icon header">
        <i class="circular red inverted remove icon"></i>
        410 / La ressource n'est plus disponible
      </h2>
      <a href="/" class="ui button">Retourner sur la page d'accueil</a>
    </div>
  </div>
</div>
