<div class="main ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui red massive message">
      <h2 class="ui center aligned icon header">
        <i class="circular red inverted lock icon"></i>
        403 / Accès refusé
      </h2>
      Vous devez utiliser une connexion sécurisée (HTTPS) pour accéder au Dashboard
    </div>
  </div>
</div>
