<% content_for(:page_title) { t('.title') } %>
<% if current_user.is_commercial_to_create? %>
  <% content_for(:page_controls) { link_to t('actions.new'), new_service_billing_path(current_service), class: 'btn btn-primary' } %>
<% end %>
<div class="b-io-content--secondary">
  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |billing| %>
        <tr>
          <td><%= billing.name %></td>
          <td class="text-right">
            <%= link_to t('misc.dashboard'), service_billing_path(current_service, billing), class: 'btn btn-secondary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
