<div class="ui container">
  <div class="ui bottom attached segment">
    <h1 class="ui header">
      <i class="user bordered icon"></i>
      <div class="content">
        Bienvenue sur votre tableau de bord
      </div>
    </h1>
  </div>

  <div class="ui fluid vertical menu">
    <a class="item" href="/dashboard/account">
      <h4 class="ui header">
        <i class="user bordered icon"></i>
        <div class="content">
          Mon compte développeur
          <div class="sub header">Visualisez et modifiez les données de votre compte API-CPA Store (<%= data.user.firstname %> <%= data.user.lastname %> - <%= data.user.email %>)</div>
        </div>
      </h4>
    </a>
    <a class="item" href="/dashboard/services">
      <h4 class="ui header">
        <i class="cubes bordered icon"></i>
        <div class="content">
          Mes services<% if(data.user.services.length > 0) { %> (<%= data.user.services.length %>)<% } %>
          <div class="sub header">Créez et configurez vos services, contribuez à la révolution de l'État !</div>
        </div>
      </h4>
    </a>
    <a class="item" href="/dashboard/services/new">
      <h4 class="ui header">
        <i class="add bordered icon"></i>
        <div class="content">
          Ajouter un service
          <div class="sub header">Lien direct vers le formulaire de création de service</div>
        </div>
      </h4>
    </a>
  </div>
</div>
