<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="/assets/images/logo.png">
      helioflash@mac.com
    </a>
    <a href="/dashboard/account" class="item"><i class="user icon"></i> Mon compte</a>
    <div class="ui simple dropdown item">
      <i class="cubes icon"></i> Mes services <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#"><i class="cube icon"></i>Service 1</a>
        <a class="item" href="#"><i class="cube icon"></i>Service 2</a>
        <div class="divider"></div>
        <a class="item" href="/dashboard/services/new"><i class="add icon"></i>Ajouter un service</a>
      </div>
    </div>
  </div>
</div>

  <% include ../partials/foot %>
</body>
</html>
