<div class="ui container">
  <h1>Bienvenue sur votre tableau de bord</h1>

  <div class="ui fluid vertical menu">
    <a class="item" href="/dashboard/account">
      <h4 class="ui header">Mon compte</h4>
      <p>Visualiser et modifier les données de votre compte API-CPA Store</p>
    </a>
    <a class="item" href="/dashboard/services">
      <h4 class="ui header">Mes services</h4>
      <p>Créez et configurer vos services</p>
    </a>
  </div>
</div>
