<div class="ui container">

  <h1 class="ui center aligned header">
    <div class="content">
      Documentation de l'API du CPA Store
    </div>
  </h1>

  <h2 class="ui horizontal divider header">
    <i class="privacy icon"></i>
    <div class="content">
      Authorisation d'accès
    </div>
  </h2>

  <h4 class="ui top attached block header">
    <div class="ui horizontal red label">POST</div> /api/v1/oauth/token
  </h4>
  <div class="ui attached segment">
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">client_id</div> (clef publique)</li>
      <li><div class="ui horizontal label">client_secret</div> (clef secrète)</li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": {
    "id": ID_TOKEN,
    "type": "tokens",
    "attributes": {
      "access_token": STRING, // Le jeton de connexion
    }
  }
}</pre>
    </div>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="cubes icon"></i>
    <div class="content">
      Services référencés
    </div>
  </h2>

  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services
  </h4>
  <div class="ui attached segment">
    <h5>Liste des services référencés sur l'API</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": [{
    "id": ID_SERVICE,
    "type": "services",
    "attributes": {
      "nom": STRING,
      "description": STRING,
      "site_internet": STRING,
      "public": BOOLEAN
    }
  }]
}</pre>
    </div>
  </div>


  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>
  </h4>
  <div class="ui attached segment">
    <h5>Paramètres d'un service</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": {
    "id": ID_SERVICE,
    "type": "services",
    "attributes": {
      "nom": STRING,
      "description": STRING,
      "site_internet": STRING,
      "public": BOOLEAN
    }
  }
}</pre>
    </div>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="database icon"></i>
    <div class="content">
      Collections de données par service
    </div>
  </h2>

  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections
  </h4>
  <div class="ui attached segment">
    <h5>Toutes les collections du service</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": [{
    "id": ID_COLLECTION,
    "type": "collections",
    "attributes": {
      "nom": STRING,
      "description": STRING,
      "tableau_de_donnees": BOOLEAN, // Vrai si la donnée est un tableau de champs
      "jeton_fc_lecture_ecriture": BOOLEAN, // Vrai si jeton FranceConnect requis en lecture et écriture
      "jeton_fc_lecture_seulement": BOOLEAN // Vrai si jeton FranceConnect requis en lecture seulement
    }
  }]
}</pre>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Collections trouvées</li>
      <li>400 - Paramètres d'entrée incorrect</li>
    </ul>
  </div>

  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>
  </h4>
  <div class="ui attached segment">
    <h5>Lire les paramètres d'une collection particulière</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": {
    "id": ID_COLLECTION,
    "type": "collections",
    "attributes": {
      "nom": STRING,
      "description": STRING,
      "tableau_de_donnees": BOOLEAN, // Vrai si la donnée est un tableau de champs
      "jeton_fc_lecture_ecriture": BOOLEAN, // Vrai si jeton FranceConnect requis en lecture et écriture
      "jeton_fc_lecture_seulement": BOOLEAN // Vrai si jeton FranceConnect requis en lecture seulement
    }
  }
}</pre>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Collection trouvée</li>
      <li>400 - Paramètres d'entrée incorrect</li>
      <li>404 - Collection introuvable</li>
    </ul>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="asterisk icon"></i>
    <div class="content">
      Données partagées par collection
    </div>
  </h2>

  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>/relationships/donnees
  </h4>
  <div class="ui attached segment">
    <h5>Toutes les données de la collection</h5>
    <div class="ui icon message">
      <i class="warning sign icon"></i>
      <div class="content">
        <div class="header">
          Accès refusé si un jeton de connexion FranceConnect est requis pour cette collection
        </div>
      </div>
    </div>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == false</div>
          <pre>{
  "data": [{
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": {
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }
  }]
}</pre>
        </div>
      <div class="ui vertical divider">
        OU
      </div>
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == true</div>
          <pre>{
  "data": [{
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": [{
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }]
  }]
}</pre>
        </div>
      </div>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Données trouvées</li>
      <li>400 - Paramètres d'entrée incorrect</li>
      <li>401 - Accès refusé</li>
    </ul>
  </div>


  <h4 class="ui top attached block header">
    <div class="ui horizontal red label">POST</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>/relationships/donnees
  </h4>
  <div class="ui attached segment">
    <h5>Ajouter ou modifier une donnée</h5>
    <p>Entrée</p>
    <div class="ui secondary segment">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == false</div>
          <pre>{
  "access_token": "JETON_DE_CONNEXION",
  "fc_token": "JETON_DE_CONNEXION_FRANCECONNECT", (requis si jeton de connexion FranceConnect requis)
  "data": {
    "id": ID_DONNEE, (omis si jeton de connexion FranceConnect requis)
    "type": "donnees",
    "attributes": {
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }
  }
}</pre>
        </div>
        <div class="ui vertical divider">
          OU
        </div>
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == true</div>
            <pre>{
  "access_token": "JETON_DE_CONNEXION",
  "fc_token": "JETON_DE_CONNEXION_FRANCECONNECT", (requis si jeton de connexion FranceConnect requis)
  "data": {
    "id": ID_DONNEE, (omis si jeton de connexion FranceConnect requis)
    "type": "donnees",
    "attributes": [{
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }]
  }
}</pre>
        </div>
      </div>
    </div>
    <p>Retour</p>
    <div class="ui secondary segment">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == false</div>
            <pre>{
  "data": {
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": {
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }
  }
}</pre>
        </div>
        <div class="ui vertical divider">
          OU
        </div>
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == true</div>
            <pre>{
  "data": {
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": [{
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }]
  }
}</pre>
        </div>
      </div>
    </div>
    <p>Status</p>
    <ul>
      <li>201 - Donnée créée</li>
      <li>200 - Donnée modifiée</li>
      <li>400 - Paramètres d'entrée incorrect</li>
    </ul>
  </div>


  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>/relationships/donnees/<div class="ui horizontal label">ID_DONNEE</div>
  </h4>
  <div class="ui attached segment">
    <h5>Lire une donnée particulière</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
      <li><div class="ui horizontal label">fc_token</div> (si jeton de connexion FranceConnect requis)</li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == false</div>
          <pre>{
  "data": {
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": {
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }
  }
}</pre>
        </div>
        <div class="ui vertical divider">
          OU
        </div>
        <div class="column">
          <div class="ui horizontal fluid teal label">tableau_de_donnees == true</div>
          <pre>{
  "data": {
    "id": ID_DONNEE,
    "type": "donnees",
    "attributes": [{
      CHAMPS_DEFINIS_PAR_LE_SERVICE
    }]
  }
}</pre>
        </div>
      </div>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Donnée trouvée</li>
      <li>400 - Paramètres d'entrée incorrect</li>
      <li>404 - Donnée introuvable</li>
    </ul>
  </div>


  <h4 class="ui top attached block header">
    <div class="ui horizontal orange label">DELETE</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>/relationships/donnees/<div class="ui horizontal label">ID_DONNEE</div>
  </h4>
  <div class="ui attached segment">
    <h5>Supprimer une donnée particulière</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
      <li><div class="ui horizontal label">fc_token</div> (si jeton de connexion FranceConnect requis)</li>
    </ul>
    <p>Retour</p>
    <div class="ui segment">
      <pre>{}</pre>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Donnée supprimée</li>
      <li>400 - Paramètres d'entrée incorrect</li>
      <li>404 - Donnée introuvable</li>
    </ul>
  </div>

  <h2 class="ui horizontal divider header">
    <i class="options icon"></i>
    <div class="content">
      Champs des données d'une collection
    </div>
  </h2>

  <h4 class="ui top attached block header">
    <div class="ui horizontal blue label">GET</div> /api/v1/services/<div class="ui horizontal label">ID_SERVICE</div>/relationships/collections/<div class="ui horizontal label">ID_COLLECTION</div>/relationships/champs
  </h4>
  <div class="ui attached segment">
    <h5>Tous les champs décrivant les données d'une collection</h5>
    <p>Paramètres d'entrée</p>
    <ul class="ui list">
      <li><div class="ui horizontal label">access_token</div></li>
    </ul>
    <p>Retour</p>
    <div class="ui secondary segment">
      <pre>{
  "data": [{
    "id": ID_CHAMP,
    "type": "champs",
    "attributes": {
      "nom": STRING,
      "description": STRING,
      "type": STRING,
      "obligatoire": BOOLEAN // Vrai si le champ est requis
    }
  }]
}</pre>
    </div>
    <p>Status</p>
    <ul>
      <li>200 - Champs trouvés</li>
      <li>400 - Paramètres d'entrée incorrect</li>
    </ul>
  </div>
</div>

<%- contentFor('masthead') %>
