<div class="ui container">
  <div class="ui grid stackable centered">
    <div class="row">
      <div class="twelve wide column">
        <h1 class="ui center aligned header">
          <div class="content">
            Documentation de l'API du CPA Store
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>

<%- contentFor('masthead') %>

