<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Créez des services pour les citoyens</h3>
        <p>L'accès à des données personnelles <strong>avec le consentement</strong> du citoyen ouvre la voie au développement de services  utiles. Ce paragraphe n'est pas terminé et mériterait un peu plus d'attention quant à sa rédaction. Merci.</p>
        <h3 class="ui header">Partagez votre valeur ajoutée</h3>
        <p>L'API du CPA Store renforce les liens entre les services en leur proposant une plate-forme d'échange de données calculées simple et sécurisée.</p>
      </div>
      <div class="six wide right floated column">
        <img src="/assets/logo/api-cpa-logo-transparent.png" class="ui large image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button" href="/subscribe">Je crée mon service</a>
      </div>
    </div>
  </div>
</div>

<style>

  .masthead.segment {
    min-height: 700px;
  }

</style>

<%- contentFor('masthead') %>

<div class="ui text container">
  <h1 class="ui inverted header">
    L'API du CPA Store
  </h1>
  <h2>Autonomisez les citoyens dans leur parcours professionnel.</h2>
  <a class="ui huge primary button" href="/services">Découvrir les services <i class="right arrow icon"></i></a>
</div>
