<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Développez sereinement</h3>
        <p>Ici, les interfaces sont standardisées et faites pour durer. Gagnez en productivité grâce à l'implémentation du standard <a href="http://jsonapi.org/" target="_blank">JSONAPI</a> et bénéficiez d'outils populaires.</p>

        <h3 class="ui header">Partagez et recevez en retour</h3>
        <p>Ici, les services bénéficient les uns des autres car ils partagent efficacement leurs données et augmentent ainsi réciproquement leur valeur ajoutée.</p>

        <h3 class="ui header">Respectez l'usager</h3>
        <p>Ici, le respect de l'usager est primordial, c'est pourquoi la plate-forme implémente le protocole <a href="https://franceconnect.gouv.fr/" target="_blank">FranceConnect</a> pour garantir l'autorisation d'accès à ses données personnelles.</p>

      </div>
      <div class="six wide right floated column">
        <img src="/assets/logo/api-cpa-logo-transparent.png" class="ui fluid image">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui text center aligned container">
    <a class="ui huge button" href="/subscribe">Créez votre premier service <i class="right arrow icon"></i></a>
  </div>
</div>

<style>

  .masthead.segment {
    min-height: 700px;
  }

</style>

<%- contentFor('masthead') %>

<div class="ui text container">
  <h1 class="ui inverted header">
    API-CPA <span class="ui red massive left pointing label">bêta</span>
  </h1>
  <h2>La plate-forme développeurs du CPA Store</h2>
  <a class="ui huge basic inverted button" href="/login">Connectez-vous <i class="right arrow icon"></i></a>
</div>
