<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <style type="text/css">
    body {
      background-color: #DADADA;
      background: url('/assets/images/night-sky-background.jpg');
      background-size: cover;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 530px;
    }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form" method="post" action="/login">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="ui segment left aligned">
        <h2 class="ui teal image header">
          <img src="/assets/logo/api-cpa-logo-transparent.png" class="image">
          <div class="content">
            Espace Fournisseur de Service
          </div>
        </h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Adresse E-Mail">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Mot de passe">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Connexion</div>
        <div class="ui two item menu">
          <a class="item" href="/">Retourner à l'accueil</a>
          <a class="item" href="#">Mot de passe oublié</a>
        </div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>

<% include ../partials/foot %>
<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        });
    });
</script>
</body>
</html>
