<%
  content_for(:page_title) {
    current_price.name
  }

  content_for(:page_controls) {
    link_to t('actions.destroy'),
            service_proxy_price_path(current_service, current_proxy, current_price),
            class: 'btn btn-danger',
            data: {
              confirm: "Are you sure?"
            },
            method: :delete
  }
%>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'show_price_info',
               locals: {
                 price: current_price
               } %>

  </div>
</div>