<% content_for(:page_title) { t('.title') } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'shared/versions',
               locals: {
                 objects: [
                   @route
                 ] + @route.query_parameters.to_a
               } %>

  </div>
</div>