<% content_for(:page_title, t('.title')) %>
<% content_for(:page_controls) { link_to t('actions.new'), new_service_proxy_route_path(current_service), class: 'btn btn-primary' } %>

<div class="b-io-content--secondary">
  <div class="container-fluid">

    <%= render partial: 'list', locals: {routes: @collection} %>

  </div>
</div>
