
.b-io-header
  position: relative
  padding-top: 70px

  .bg-inverse
    @include alpha-background-color(rgba($color-blue-dark, .4), $color-blue)




.b-io-main-container
  position: relative

  .b-io-menu
    position: relative

    .b-io-menu--secondary
      @include alpha-background-color(rgba($color-blue, .2), $color-blue)
      position: relative
      margin: 0 0 15px 0
      padding: 10px

      h4
        font-weight: bold

      h4, h5
        color: #FFF
        padding: 16px 0 8px 16px

      .nav-pills
        .nav-link
          @include alpha-background-color(rgba($color-blue, .1), $color-blue)
          border-radius: 0

      &.b-io-menu--tertiary
        @include alpha-background-color(rgba($color-blue-dark, .2), $color-blue)

        .nav-pills
          .nav-link
            @include alpha-background-color(rgba($color-blue-dark, .3), $color-blue)


    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      position: absolute
      left: 0
      top: 0
      width: 280px

      .b-io-menu--secondary
        border-radius: 5px
        margin-right: 15px

  .b-io-content
    position: relative
    padding-bottom: 15px
    @include alpha-background-color(rgba($color-blue, .3), $color-blue)

    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      margin-left: 280px
      border-radius: 5px

    .b-io-content--header
      position: relative
      display: block

      h2
        padding: 20px 0 10px 0
        color: #FFFFFF
        font-style: italic

    .b-io-content--secondary
      position: relative
      display: block
      margin: 10px
      background-color: #FFFFFF
      border-radius: 5px
      box-shadow: 0 0 15px rgba(190, 190, 190, .4)

      >.container
        padding-top: 15px
        padding-bottom: 15px
