
.b-io-topbar
  position: relative
  padding-top: 55px

.b-io-header
  position: relative
  border-radius: 3px
  border-top-left-radius: 0
  border-top-right-radius: 0
  padding: 20px 0 15px 0
  //margin: -16px 0 15px 0
  //padding: 15px 0 15px 0
  //background-color: #CADAEA
  //box-shadow: 0px 0px 2px rgba(190, 190, 190, .4)

  h1
    font-weight: bold

  .nav-tabs
    border-bottom: 0
    .nav-item
      margin-bottom: 0

  hr
    margin: 5px 0 5px 0

  .container-fluid
    padding: 0 6px 0 6px

  a
    padding: 8px 10px
    margin-left: -10px
    margin-right: -10px

    &:hover
      background-color: rgba(0, 0, 0, .1)
      text-decoration: none

    &:active
      background-color: rgba(0, 0, 0, .1)
      text-decoration: none

  .nav
    a
      margin-left: 0
      margin-right: 0

.b-io-main-container
  position: relative

  .b-io-menu
    position: relative

    .b-io-menu--secondary
      //@include alpha-background-color(rgba($color-blue, .2), $color-blue)
      position: relative
      margin: 0 0 15px 0

      h4
        font-weight: bold

      h4, h5
        padding: 15px 0 5px 16px

    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      position: absolute
      left: 0
      top: 0
      width: 280px

      .b-io-menu--secondary
        border-radius: 5px
        margin-right: 15px

  .b-io-content
    position: relative
    border: 1px solid transparent
    padding-bottom: 0px
    margin-left: -13px
    margin-right: -13px
    border: 1px solid #E5E5E5
    //@include alpha-background-color(rgba($color-blue-dark, .2), $color-blue)
    background-color: rgba(255, 255, 255, .7)
    //box-shadow: 0px 0px 2px rgba(190, 190, 190, .4)

    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      border-radius: 3px

      &.b-io-content--with-menu
        margin-left: 280px

    .b-io-content--header
      position: relative
      display: block

      h3, h4
        padding: 15px 0 5px 0
        //color: #FFFFFF

      .b-io-content--header--controls
        float: right
        padding: 10px 0 5px 0
        @include clearfix

    .b-io-content--secondary
      position: relative
      display: block
      margin: 0 0 0px 0
      background-color: #FFFFFF
      //border-radius: 5px
      border: 1px solid #DEDEDE
      border-left: 0
      border-right: 0
      box-shadow: 0 0px 2px rgba(190, 190, 190, .4)
      box-shadow: 0 -5px 5px rgba(190, 190, 190, .5) inset
      padding-bottom: 50px

      >.container, >.container-fluid
        padding-top: 15px
        padding-bottom: 15px
