
.b-io-header
  position: relative
  height: 110px

  .bg-inverse
    @include alpha-background-color(rgba($color-blue-dark, .4), $color-blue)


.b-io-main-container
  .b-io-menu
    position: relative

    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      float: left
      width: 280px


    .b-io-menu--secondary
      @include alpha-background-color(rgba($color-blue, .4), $color-blue)
      position: relative
      margin: 0 15px 0 0
      padding: 10px
      border-radius: 5px

      &.b-io-menu--tertiary
        @include alpha-background-color(rgba($color-blue-dark, .4), $color-blue)

  .b-io-content
    position: relative
    padding-bottom: 15px
    @include alpha-background-color(rgba($color-blue, .3), $color-blue)

    @media (min-width: map-get($grid-breakpoints, $dashboard-grid-breakpoint))
      margin-left: 280px
      border-radius: 5px

    .b-io-content--header
      position: relative
      display: block

      >.container
        &::after
          display: none

      h2
        padding: 20px 0 10px 0
        color: #FFFFFF
        font-style: italic

    .b-io-content--secondary
      position: relative
      display: block
      margin: 10px
      background-color: #FFFFFF
      border-radius: 5px
      box-shadow: 0 0 15px rgba(190, 190, 190, .4)

      >.container
        padding-top: 15px
        padding-bottom: 15px
