.trix-editor-container
  &.trix-editor-limited
    trix-toolbar
      .button_group
        button.link
          display: none !important


.trix-content

  blockquote
    @extend .blockquote
    font-size: 90%
    margin-top: 5px
    color: #243E48