<% if (data.relation) { %>
<h4 class="ui header">
  <i class="<%= data.relation.completeType.icon %> bordered icon"></i>
  <div class="content">
    <%= data.relation.completeType.name %>
    <div class="sub header">Relation</div>
  </div>
</h4>
<% } else { %>
<h4 class="ui header">
  <i class="add bordered icon"></i>
  <div class="content">
    Ajouter une relation
  </div>
</h4>
<% } %>