<%= simple_form_for [current_service, current_proxy, current_route, @query_parameter] do |f| %>

  <%= f.input :name %>
    <%= f.input :mode, as: :radio_buttons, collection: format_mode_for_select, mode: t("types.mode.#{@query_parameter.mode}")%>

    <div class="actions">
    <%= f.button :submit, value: I18n.t('actions.save'), data: { disable_with: t('actions.save_in_progress') } %>
  </div>

<% end %>
