<h1>Votre service a été validé</h1>

<p>
  Bonjour <%= firstname %> <%= lastname %>,
</p>
<p>
  Votre service <strong><%= service %></strong> a été validé par l'équipe API.<br />
  Vous pouvez dès à présent le référencer sur l'API et partager vos propres données.
</p>
<p>
  Cordialement,<br />
  L'équipe API du CPA Store.
</p>