<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour <%= firstname %> <%= lastname %>,</p>
<p>Pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant :</p>
<p><a href="<%= link %>" target="_blank">Choisir un nouveau mot de passe</a></p>
<p>Ou copiez-collez le lien suivant dans votre navigateur :</p>
<p><%= link %></p>
<p>Cordialement,</p>
<p>L'équipe API.</p>